html,body{
    margin: 0;
    padding: 0;
    padding-block-start: 50px;
}

html{
    background: black;   
    opacity: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.clock{
    position:relative;
    border-radius:50%;
    width:500px;
    height:500px;                  
    border:10px solid rgba(95, 128, 164, 0.54);
    margin: 0 auto;
    /* background-color: white; */
    background-image:url(https://images.unsplash.com/photo-1671863991352-3fc2281cccbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM0fDZzTVZqVExTa2VRfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.clockface{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.hour{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight:bold;
    color: yellowgreen;
    position:absolute;
}
.hour-1{
    top:40px;
    right:130px;
}

.hour-2{
    top:125px;
    right:45px;
}
.hour-3{
    top:235px;
    right:10px;
}
.hour-4{
    top:345px;
    right:45px;
}
.hour-5{
    top:430px;
    right:130px;
}
.hour-6{
    bottom:10px;
    left:240px;
}
.hour-7{ 
    top:430px;
    left:130px;
} 
.hour-8{
    top:345px;
    left:45px;
}
.hour-9{
    top:235px;
    left:10px;
}
.hour-10{
    top:125px;
    left:45px;
}
.hour-11{
    top:40px;
    left:130px;
}
.hour-12{
    top:10px;
    left:235px;
}

.hand{
    width: 50%;
    right: 50%;
    height: 6px;
    background:  linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 15s ease infinite;
    position: absolute;
    top: 50%;
    border-radius: 6px;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.hour-hand {
    width: 30%;
}

.second-hand{
    height: 3px;

}

.min-hand{
    height: 6px;
}